<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>New Person</title>

  <meta charset="ISO-8859-1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<div class="container">
<h2>New Person</h2>
<form action="#" th:action="@{/person/new}" th:object="${person}" method="post">
	<table class="table">
		
		<tr>
			<td>Nombre:</td>
			<td><input type="text" th:field="*{firstName}"/></td>
			<td th:if="${#fields.hasErrors('firstName')}"
			    th:errors="*{firstName}">Nombre Error</td>
		</tr>
		
		<tr>
			<td>Apellido:</td>
			<td><input type="text" th:field="*{lastName}"/></td>
			<td th:if="${#fields.hasErrors('lastName')}"
			    th:errors="*{lastName}">Apellido Error</td>
		</tr>

		<tr>
			<td>Direccion:</td>
			<td><input type="text" th:field="*{address}"/></td>
			<td th:if="${#fields.hasErrors('address')}"
			    th:errors="*{address}">Direccion Error</td>
		</tr>

		<tr>
			<td>Ciudad:</td>
			<td><input type="text" th:field="*{city}"/></td>
			<td th:if="${#fields.hasErrors('city')}"
			    th:errors="*{city}">Ciudad Error</td>
		</tr>


		<tr>
			<td>Telefono:</td>
			<td><input type="text" th:field="*{phone}"/></td>
			<td th:if="${#fields.hasErrors('phone')}"
			    th:errors="*{phone}">Telefono Error</td>
		</tr>
		
		<tr>
			<td>Email:</td>
			<td><input type="text" th:field="*{email}"/></td>
			<td th:if="${#fields.hasErrors('email')}"
			    th:errors="*{email}">Email error</td>
		</tr>
		
		<tr>
			<td></td>
			<td><input type="submit" value="enviar" class="btn btn-primary"/>
				<input type="reset" value="cancelar" class="btn btn-danger"/></td>
			<td></td>
		</tr>
	</table>


</form>
<br/>
<a href="/person/list">Listar Personas</a>	
</div>
</body>
</html>